= form_tag("/expenses", :id => "expenses-form") do
  %fieldset
    .description.field
      = text_field_tag(:description, nil, :placeholder => "Enter an expense in the form '$50 for groceries'")

  = submit_tag

%table#expenses-table
  %thead
    %tr
      %th Date
      %th Time
      %th Description
      %th Amount

  %tbody

  %tfoot
    %tr.total
      %td
      %td
      %td Total
      %td
    %tr.remaining
      %td
      %td
      %td Remaining
      %td

#expenses-chart

#spending-bar
  .remaining
    %span
