@import "flatly"

@import "twitter/bootstrap"

@mixin at-width($width)
  @media all and (min-width: $width)
    @content

@mixin below-width($width)
  @media all and (max-width: $width - 1)
    @content

@mixin hazy($opacity)
  opacity: $opacity
  filter: alpha(opacity=$opacity * 100)

// @mixin border-box
//   box-sizing: border-box
//   -moz-box-sizing: border-box
//   -webkit-box-sizing: border-box

// @mixin rotate($amount)
//   transform: rotate($amount)
//   -moz-transform: rotate($amount)
//   -webkit-transform: rotate($amount)

body.loading
  #expenses-table
    display: none

  #expenses-chart
    visibility: hidden

  &:before
    @include hazy(0.75)

    content: ""
    display: block
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #fff url(/assets/loading.gif) no-repeat center
    z-index: 1

main
  @extend .container

header
  @extend .page-header

  h1 a
    @extend .btn, .btn-xs

    &#preferences-link
      @extend .btn-info

    &#logout-link
      @extend .btn-warning

#notice
  @extend .alert, .alert-info

#error
  @extend .alert, .alert-danger

#register-form, #login-form, #preferences-form
  .field
    @extend .form-group

    input
      @extend .form-control

  .actions
    @extend .form-group

    input, a
      @extend .btn, .btn-sm

    input
      @extend .btn-primary

    a
      @extend .btn-info

#expenses-form
  fieldset
    @extend .row

    margin-bottom: 15px

    .field
      input[type="text"]
        @extend .form-control

    .description
      @extend .col-lg-12

    // .date
    //   @extend .col-lg-4

  input[type="submit"]
    visibility: hidden

#expenses-table
  @extend .table, .table-striped

  th:last-child, td:last-child
    text-align: right

  tfoot tr
    td
      font-weight: bold

    &:first-child
      background-color: $brand-primary
      color: #fff

#spending-bar
  position: fixed
  top: 0
  bottom: 0
  right: 0
  width: 50px

  .remaining
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: $brand-success

    span
      @include rotate(90deg)

      display: block
      position: absolute
      top: 10px
      width: 50px
      color: #fff
      font-family: $headings-font-family
      font-size: 40px
      line-height: 50px
      white-space: nowrap
