@import "flatly"

@import "twitter/bootstrap"

main
  @extend .container

header
  @extend .page-header

  h1 a
    @extend .btn, .btn-warning, .btn-xs

#login-form, #register-form
  .field
    @extend .form-group

    input
      @extend .form-control

  .actions
    @extend .form-group

    input, a
      @extend .btn, .btn-sm

    input
      @extend .btn-primary

    a
      @extend .btn-info

#expenses-form
  fieldset
    @extend .row

    margin-bottom: 15px

    .field
      input[type="text"]
        @extend .form-control

    .description
      @extend .col-lg-8

    .date
      @extend .col-lg-4

  input[type="submit"]
    visibility: hidden

#expenses-table
  @extend .table, .table-striped

  thead, tfoot
    font-weight: bold

#spending-bar
  position: fixed
  top: 0
  bottom: 0
  right: 0
  width: 50px

  .remaining
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background-color: #080

    span
      @include rotate(90deg)

      display: block
      position: absolute
      top: 10px
      width: 50px
      color: #fff
      font-family: $headings-font-family
      font-size: 40px
      line-height: 50px
      white-space: nowrap
